
<div class="page fullheight bgblue desktoponly" >
	<div scd-center="600">
		<div class="centerh">
			<img src="css/logo.png" style="max-width: 100%"/>
			<h1>The easiest Cloud Storage for basic datas records</h1>			
		</div>
		<br/>
		<div class="centerh">	
			<div class="hstack"><img src="css/time.png"/>Save Time</div>
			<div class="hstack"><img src="css/money.png"/>Save Money</div>
			<div class="hstack"><img src="css/people.png"/>Take part of a community</div>
			<div class="breakfloat"></div>
		</div>
	</div>
</div>
<div class="page fullheight bgblue mobileonly" >
	<div class="centerh">
		<img src="css/logo.png" style="max-width: 100%"/>
		<h1>The easiest Cloud Storage for basic datas records</h1>			
	</div>
	<br/>
	<div class="centerh mobileonly">	
		<div class="vstack"><img src="css/time.png"/>Save Time</div>
		<div class="vstack"><img src="css/money.png"/>Save Money</div>
		<div class="vstack"><img src="css/people.png"/>Take part of a community</div>
	</div>
</div>


<div class="page bggrey" >
	
	<h4>Who?</h4>
	<h3>What?</h3>
	<h2>When?</h2>
	<h1>Where?</h1>
	
	<br/>
	<div class="centerh">
	<h2 style="text-align: center;">
	Have you already realize that most of the Cloud services<br>
	actually always store these same basics records ?</h2>
	</div>
	<br/>
	<div class="centerh">
	<p>It's commonly admitted, that the <a href="https://en.wikipedia.org/wiki/Five_Ws">"Five Ws model"</a> are questions whose answers are considered basic in information-gathering.</p>
	<p>Five "W" for:</p>
	<ul>
		<li><b>WHO</b> did that?</li>
		<li><b>WHAT</b> happened?</li>
		<li><b>WHEN</b> did it take place?</li>
		<li><b>WHERE</b> did it take place?</li>
		<li>Why did it take place?</li>
	</ul>
	<p>It's often used in journalism, software development or in research, in order to make a full description of an issue.</p>
	<p>If we now forget the lastest "Why", we get here a really minimal setup for a Cloud Databases which actually fits with very a large application fields.</p>	
	</div>
</div>
	
	
	
<div class="page bgblue" >
	<div class="centerh">
	<table>
	<tr>
	
	<td>
	<img src="css/park.png" />
	<h4>Car's Parking Inventory</h4>
	<ul>
		<li><b>WHO</b>: The identity of the guy (or system) who share the info.</li>
		<li><b>WHAT</b>: Number of remaining place</li>
		<li><b>WHEN</b>: When the observation was made</li>
		<li><b>WHERE</b>: GPS position of the parking's place</li>
	</ul>
	</td>
	
	<td>
	<img src="css/labs.png" />
	<h4>Lab's Temperature measurement</h4>
	<ul>
		<li><b>WHO</b>: The identity of the system which made the measurement.</li>
		<li><b>WHAT</b>: Temperature</li>
		<li><b>WHEN</b>: When the measurement was made</li>
		<li><b>WHERE</b>: GPS position of the sensor</li>
	</ul>
	</td>
	</tr>
	
	<tr>
	<td>
	<img src="css/postit.png" />
	<h4>Post'it sharing</h4>
	<ul>
		<li><b>WHO</b>: The author of the Post'it</li>
		<li><b>WHAT</b>: A little text</li>
		<li><b>WHEN</b>: When he writes it</li>
	</ul>
	</td>
	
	<td>
	<img src="css/lineup.png" />
	<h4>Line up management</h4>
	<ul>
		<li><b>WHAT</b>: Current ticket Number</li>
		<li><b>WHEN</b>: When was it updated</li>
	</ul>		
	</td>
	</tr>
	</table>
	</div>
</div>
	
	
	
	
<div class="page bggrey" >
<div class="centerh">
	<p>So based on this, Share-Counter has been developed to save time and money to avoid re-inventing the wheel everytime.</p>


	<h1>How does it works?</h1>
	<p>Once you've create an account, you can create some counters.</p>
	<p>A counter is bascially a database with the 4W fields, which are optionals (depending of your needs)</p>
	<ul>
		<li><b>WHO</b> =  ['UserName']</li>
		<li><b>WHAT</b> = ['Text', 'Value'] (depending if you want to store numerical value or not</li>
		<li><b>WHEN</b> = ['Date'] (UTC date)</li>
		<li><b>WHERE</b> = ['Location'] (Json latitude/longitude)</li>
	</ul>	
</div>
</div>